* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://www.animatedimages.org/data/media/1513/animated-sea-and-ocean-image-0008.gif");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}


.container {
    height: 550px;
    width: 700px;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-size: cover;


    


}

.card {
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.fineHEuo5epJg2AcA1YXDgHaHa&pid=Api&P=0&h=180");
    border: 1px solid rgb(8, 7, 7);
    height: 100px;
    width: 100px;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 3px rgb(36, 40, 41);
    cursor: pointer;
    border :2px solid rgb(10, 12, 12);
    cursor: pointer;
    
}

#back{
    background-image: url("https://tse3.mm.bing.net/th?id=OIP.cEPDxJNpCAjhDMJkwDze9QHaCX&pid=Api&P=0&h=180");
    padding: 10px;
    background-color: rgb(22, 25, 26);
    font-size: 40px;
    color: rgb(255, 255, 255);
    border: 1px rgb(0, 0, 0);
    border-radius:50px;
    height: 100px;
    width: 200px;
    background-size: cover;
    box-shadow: 2px 3px 4px 5px rgb(185, 181, 181);
    font-weight: 600;
    cursor: pointer;
}

.tick{
    display: none;
}
.play-btn{
    
    position: relative;
        border: none;
        padding: 10px 20px;
        background-color: transparent;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        overflow: hidden;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        shape-rendering: 1px 3px 4px 6px rgb(23, 20, 20);
    
    
    
}
.play-btn:hover{
    box-shadow: 3px 4px 20px 10px rgb(241, 241, 241);
}
    
    


.play-btn::after{

    background-image: url("https://tse4.mm.bing.net/th?id=OIP.7v7uQtL0P9eKmknlNToamgAAAA&pid=Api&P=0&h=180");
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-image 0.3s ease;
    
   
   
}
.clicked::after{
    content:"" ;
    background-image:url("https://tse4.mm.bing.net/th?id=OIP.XjgROwUf4F4W6TpZtiZWqwHaHS&pid=Api&P=0&h=180") ;
}
#win{
    position: fixed;
    font-size: 70px;
    font-weight: 900;
    color: #fff;
    top: 30%;
    left: 22%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow:10px 7px 5px rgb(1, 234, 1);
    animation: jump 0.5s infinite alternate;
}
.hidden{
    display: none;
}

#lost{
    position: fixed;
    font-size: 70px;
    font-weight: 900;
    color: #fff;
    top: 30%;
    left: 30%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow:10px 7px 5px rgb(255, 0, 0);
    animation: jump 0.5s infinite alternate;
}
@keyframes jump{
    0%{
        transform:translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}
#timer{
    font-size: 34px;
    color: white;
    font-weight: bolder;
    position: fixed;
    top: 2%;
    left: 45%;
    padding: 10px;
    text-shadow: 3px 4px 5px rgb(37, 2, 37);
}
h3{
    font-size: 34px ;
    color: #fcfbfc;
    font-weight: bolder;
    position: fixed;
    top: 2%;
    left: 37%;
    padding: 10px;
    text-shadow: 3px 4px 5px rgb(11, 2, 11);
}